*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
}

body{
  background-color: rgb(10, 10, 10);
    color: white;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;

  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    min-height: 120vh;
    background: url('Untitled design.png') repeat-x fixed center center/cover;
    background-size: cover;

    opacity: 0.3;
    z-index: -1;
}
a{
    color:white;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    width: 100%;
}
li #more{
    margin-left: 10px;
    margin-right: 0px;
}
.nav2 li{
    display: inline-block;
    padding: 20px 24px;
    list-style: none;
    transition: transfrom 0.6s;
}
.nav2 ul li a{
  transform: scale(1);
  transition: color 0.6s, transform 0.6s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.nav2{
    position: relative;

}
.nav1{
    padding-left: 20px;

}
.nav2{
    padding-right: 20px;
}



  .dropdown a:hover {
    background-color: #666;
  }
  .nav2 ul li:hover{
    transform: scale(1.2);
  }
  .nav2 ul li:hover a{
    color: #4C6A92;
  }


  .nav2 ul li:hover ul li a{
    color: white;
    transform: scale(1);
  }



  .nav1 ul li{
    list-style: none;
    padding: 5px 10px;
  }
  .nav1 ul li a{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
  }
  .nav1 span{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    color: white;  
}
.nav2 i{
    margin-right: 10px;
}
#title{
  font-weight: 1000;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  color: #4C6A92;
}


/*  main section:   */




.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bigtitle, .smalltitle{
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.bigtitle{
  text-align: center;
}

.bigtitle h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    color: white; 
    height: auto;
    min-height: auto;
}
.bigtitle h1 span{
  font-family: "Boldonse", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 2.6rem;
  color:#4C6A92; 
}
.soustitle{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4C6A92;
  margin: 10px 0;
}
.soustitle h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;

  font-size: 1.7rem;
}
.smalltitle p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  height: 100%;
}
.images{
  z-index: -1;;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.images img{
  z-index: -1;
  height: 400px;
  width: 100%;
  filter:drop-shadow(1px 10px 10px black)
}
.smalltitle{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.paragraph{
  width: 60%;
  border-right: 4px solid #4C6A92;
  padding-right: 20px;
  height: 100%;
}
.platforms{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.texticon{
  width: 100%;
  height: 20vh;
  margin-bottom:5px;
}
.iconicon{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 20vh;
  margin-left: 20px;
  color: rgb(230, 230, 230);
  margin-top: 20px;
}
.iconicon a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconicon i{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4C6A92;
  cursor: pointer;
  height: 6.5vh;
  width: 6.5vh;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 15px;
  transition: box-shadow 0.6s, background-color 0.6s, color 0.6s;
}
.iconicon i:hover{
  box-shadow: 0px 0px 10px 7px  #4C6A92;
  background-color: white;
  color: #181b1f;
}








