*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
}

body{
  background-color: rgb(10, 10, 10);
    color: white;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;

  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270vh;
    background: url('Untitled design.png') repeat-x fixed center center/cover;
    background-size: cover;

    opacity: 0.3;
    z-index: -1;
}
a{
    color:white;
    text-decoration: none;

    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    width: 100%;
}
li #more{
    margin-left: 10px;
    margin-right: 0px;
}
.nav2 li{
    display: inline-block;
    padding: 20px 24px;
    list-style: none;
    transition: transfrom 0.6s;
}
.nav2 ul li a{
  transform: scale(1);
  transition: color 0.6s, transform 0.6s;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;

}
.nav2{
    position: relative;

}
.nav1{
    padding-left: 20px;

}
.nav2{
    padding-right: 20px;
}



  .dropdown a:hover {
    background-color: #666;
    text-decoration: none;

  }
  .nav2 ul li:hover{
    transform: scale(1.2);
  }
  .nav2 ul li:hover a{
    color: #4C6A92;
  }


  .nav2 ul li:hover ul li a{
    color: white;
    transform: scale(1);
  }



  .nav1 ul li{
    list-style: none;
    padding: 5px 10px;
  }
  .nav1 ul li a{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

  }
  .nav1 span{
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    color: white;  
}
.nav2 i{
    margin-right: 10px;
}
#title{
  font-weight: 1000;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  color: #4C6A92;
}


/*  main section:   */


main{
    width: 100%;
    height: 100%;

}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}
.title{
    padding: 20px;
    align-self: flex-start;
}
.title h1{
    font-size: 2.5rem;
    color: #fa9939;
    text-shadow: 1px 1px 10px black;
    margin-bottom: 16px;
}


.title h2{
  font-size: 1.3rem;
}
.filieres{
  margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.filiere1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color:#2d3238;
    width: 95%;
    height: 36vh;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px #4C6A92;

    transition: box-shadow 0.6s;

}

.filiere1:hover{
  box-shadow: 0px 0px 15px 4px #4C6A92;
}

.filiere1 h1{
    margin-bottom: 20px;
    font-size: 1.9rem;
    color: #fa9939;
    text-shadow: 1px 1px 5px black;
}

.filiere1 p{
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px black;

}
.filiere1 ul{
    list-style: disc;
    color: #fa9939;
    padding-left: 30px;
    text-shadow: 1px 1px 5px black;
}
.filiere1 li{
    color: beige;
    font-size: 1.3rem;
    background-color:#2d3238;

}
#localisation{
    height: 550px;
}
#localisation img{
    height: 85%;
    width: 80%;
    border-radius: 12px;
}
#localisation div{
    display: flex;
    align-items: start;
    justify-content: center;
}
#smalldiv{
    margin-top: 40px;
    height: 15vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#smalldiv h1{
    margin: 0;
    padding: 0;
}
#smalldiv a{    
    display: inline-block;
    margin-left: 10px;
    font-size: 1.9rem;
    color: beige;    
    text-decoration: none;
    transition: color 0.6s, line-height 0.6s;
}
#smalldiv a i{
    font-size: 1.7rem;
    margin: 0px 5px;
}

#smalldiv:hover a{
    color: #fa9939;
    line-height: 25px;  
}